@font-face {
    font-family: "primary";
    src: url("assets/fonts/fira_sans_regular.ttf") format("truetype");
}

:root {
    --light: #eef5fa;
}

body {
    background-color: #DBE9F3;
    font-family: "primary", sans-serif;
}
* {
    font-family: "primary", sans-serif;
}
#universal {
    /* hmm... */
}
#archive {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    padding: 1vh;
    gap: 1vh;
}
main {
    height: 75%;
}
nav, main {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 2%;
    gap: 1%;
    border: 1px solid;
    border-radius: 1%;
    border-color: #c8d8e4;
    align-items: anchor-center;
}
section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: none;
    scrollbar-width: none;
}
article {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1.5px solid;
    border-color: #c8d8e4;
    border-radius: 5%;
    background-color: white;
    padding: 8px;
}
img, video {
    width: 100%;
}
img.thumbnail:hover, video.thumbnail:hover{
    transform: scale(1.07);
    transition-duration: 0.2s;
}
article button {
    all: unset;
}
.shown {
    display: block;
}
.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--light);
    padding: 4px;
    border-radius: 10px;
    box-sizing: border-box;
}
#page_buttons {
    display: grid;
    grid-template-columns: 30% 20% 10% 20% 20%;
    gap: 4px;
    width: 200px;
    padding: 8px;
}
#tag_searching {
    display: grid;
    padding: 8px;
}
.search select, .search button {
    border: 2px solid;
    border-color: rgb(100, 149, 165);
    border-radius: 10px;
    background-color: #FFF;
    height: 30px;
}
.src {
    display: grid;
    grid-template-columns: 70% 30%;
}
.div_id {
    text-align: right;
    font-size: clamp(50%, 14px, 100%)
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    gap: 3px;
    border-radius: 10px;
    background-color: var(--light);
    padding: 4%;
}
.tags > button {
    all: unset;
}
#viewer > .tags {
    width: 96%;
    margin: 2%;
    padding: 2%;
}
#viewer {
    display: flex;
    flex-direction: column;
}
.tag {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 4px;
    padding: 4px 11px 4px 8px;
    font-size: clamp(75%, 12px, 100%);
    color: #000;
    background-color: transparent;
    border: 1.5px solid;
    max-height: 14px;
    border-color: rgb(100, 149, 165);
    border-radius: 999px;
    vertical-align: center;
}
.tag.selected {
    background-color: red;
}
.tag > span {
    font-size: 24px;
    pointer-events: none;
}
.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 20%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar.in {
    animation-name: slideIn;
    animation-duration: 0.6s;
    display: block;
}
.sidebar.out {
    animation-name: slideOut;
    animation-duration: 0.6s;
}

.sidebar > h1 {
    font-size: 20px;
    font-weight: normal;
}
.tagsMenu {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    overflow: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    height: 100%;
}
.tagsMenu > h1 {
    font-size: 24px;
    margin-block: 6px;
}
.tagsMenu > h2 {
    font-size: 18px;
    margin-block-start: 10px;
    margin-block-end: 4px;
}
.gallery {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

html {
	scroll-behavior: smooth;
	container-type: scroll-state;
    container-name: scroller;
}

div.to-top {
	position: fixed;
	bottom: 20px;
	right: 10px;
	display: flex;
    flex-direction: column-reverse;
    row-gap: 4px;
}
.to-top > button {
    all: unset;
}
a.to-top, button.to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	background: white;
	border: 2px solid #b5cedf;
	cursor: pointer;
	border-radius: 50%;
}

.to-top img {
	width: 30px;
}

.to-top:hover {
	border-color: #437ca3;
    transition-duration: 0.2s;
}
.popup {
    display: none;
    position: absolute;
    background-color: red;
    width: 200px;
    height: 100px;
    top: 0;
    right: 0;
}
#tag_searching {
    position: relative;
}
.expanded {
    width: 100%;
}
#overlay {
    pointer-events: all;
    width: 100%;
    height: 100%;
    background-color: #437ca350;
    position: fixed;
    top: 0px;
    right: 0px;
}
#overlay.in {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    display: none;
}
#overlay.out {
    animation-name: fadeOut;
    animation-duration: 0.6s;
}
textarea {
    border: #c8d8e4 1.5px solid;
    border-radius: 10px;
    font-family: inherit;
    resize: none;
    padding: 2%;
}
@keyframes slideIn {
    from {
        right: -20%;
    }
    to {
        right: 0px;
    }
}
@keyframes slideOut {
    from {
        right: 0px;
    }
    to {
        right: -20%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
button.interact {
    all: unset;
}